﻿@model Open.ProjetoPadrao.Web.ViewModels.Admin.LoginViewModel
@{
  Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A.Yoshii Imobiliários Administrador | Entrar</title>
  @Styles.Render("~/bundles/admin/css/login")
</head>

<body class="gray-bg">

  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">

        @using (Ajax.BeginForm("Entrar", "Login",
        new AjaxOptions()
        {
            HttpMethod = "POST",
            OnBegin    = "inicioLogin",
            OnSuccess  = "sucessoLogin",
            OnFailure  = "falhaLogin",
        },
        new { id = "formLoginAdmin", @class = "login100-form validate-form" }))
        {
          @Html.AntiForgeryToken()

          <span class="login100-form-title p-b-43">
            <img src="@Url.Content("~/Areas/Admin/Assets/imgs/logo-login.jpg")" alt="Logo A.Yoshii" />
          </span>

          <div class="wrap-input100 validate-input" data-validate="Informe seu login">
            @Html.TextBoxFor(m => m.Login, new { @class = "input100", data_id = "txtCampoLogin", id = "txtLogin", placeholder = "Login" })
            <span class="focus-input100"></span>
            <span class="label-input100"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Informe sua senha">
            @Html.PasswordFor(m => m.Senha, new { @class = "input100", data_id = "txtCampoLogin", id = "txtSenha", @type = "password", placeholder = "Senha" })
            <span class="focus-input100"></span>
            <span class="label-input100"></span>
          </div>
          <div class="flex-sb-m w-full p-t-3 p-b-32">
            <div>
              <a href="#" class="txt1">
                Esqueceu a senha?
              </a>
            </div>
          </div>
          <div class="container-login100-form-btn">
            <button id="btnLoginAdmin" type="submit" class="login100-form-btn" data-loading-text="<i class='fa fa-circle-notch fa-spin'></i>">Entrar</button>
            <div id="divMensagemErroLogin" class="alert alert-danger" hidden="hidden"></div>
          </div>
        }
        <div class="login100-more" style="background-image: url('@Url.Content("~/Areas/Admin/Assets/imgs/background-login.jpg")');"></div>
      </div>
    </div>
  </div>
  @Scripts.Render("~/bundles/admin/js/login")
</body>
</html>