﻿@model Open.ProjetoPadrao.Web.ViewModels.Admin.MinhaContaViewModel
@{
  ViewBag.Title = "Minha Conta";
  Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Minha Conta</h2>
    <ol class="breadcrumb">
      <li>
        <a href="@Url.Action("Index", "Principal")">Dashboard</a>
      </li>
      <li class="active">
        <strong>Minha Conta</strong>
      </li>
    </ol>
  </div>
</div>

@using (Ajax.BeginForm("SalvarMinhaConta", "Conta",
       new AjaxOptions()
       {
         HttpMethod = "POST",
         OnBegin = "inicioCadastro",
         OnSuccess = "sucessoCadastro",
         OnFailure = "falhaCadastro",
       },
       new { id = "formCadastroMinhaConta", @class = "m-t", role = "form" }))
{
  @Html.AntiForgeryToken()

  <div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
      <div class="ibox-content padding-bottom">
        <div class="row">
          <div class="form-group">
            <div class="col-lg-3">
              @Html.LabelFor(a => a.SenhaAtual)
              @Html.TextBoxFor(a => a.SenhaAtual, new { placeholder = "Senha Atual", @class = "form-control m-b", @maxlength = "32", @type = "password" })
              @Html.ValidationMessageFor(a => a.SenhaAtual)
            </div>
            <div class="col-lg-3">
              @Html.LabelFor(a => a.NovaSenha)
              @Html.TextBoxFor(a => a.NovaSenha, new { placeholder = "Nova Senha", @class = "form-control m-b", @maxlength = "32", @type = "password" })
              @Html.ValidationMessageFor(a => a.NovaSenha)
            </div>
            <div class="col-lg-3">
              @Html.LabelFor(a => a.ConfirmacaoSenha)
              @Html.TextBoxFor(a => a.ConfirmacaoSenha, new { placeholder = "Confirmação de Senha", @class = "form-control m-b", @maxlength = "32", @type = "password" })
              @Html.ValidationMessageFor(a => a.ConfirmacaoSenha)
            </div>
          </div>
        </div>
        <div class="hr-line-dashed"></div>

        <!-- BOTOES -->
        <div class="row text-right">
          <div class="form-group">
            <div class="col-xs-12">
              <a class="btn btn-white" href="@Url.Action("Empreendimentos", "Cadastros")">Voltar</a>
              <button class="btn btn-primary" type="submit" id="btnCadastrar" data-loading-text="<i class='fa fa-circle-notch fa-spin'></i>">Salvar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}

@section scripts {
  @Scripts.Render("~/bundles/admin/js/minha-conta")
}