﻿@model Open.ProjetoPadrao.Web.Entities.PaginaControle

<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      @if (UsuarioLogado.SuperUser)
      {
        <div class="row">
          <div class="form-group">
            <div class="col-xs-4">
              <input id="txtIdentificadorControle" type="text" placeholder="Identificador do controle" value="@Model.NomeIdentificadorControle" class="form-control input-lg m-b">
            </div>
            <div class="col-xs-4">
              <button type="button" id="btnSalvarIdentificadorGaleria" class="btn btn-primary btn-lg" data-url="@Url.Action("SalvarIdentificadorGaleria", "Cadastros")" data-loading-text="<i class='fa fa-circle-notch fa-spin'></i>">
                <i class="fa fa-check"></i> Salvar
              </button>
            </div>
          </div>
        </div>
      }
      <div class="row">
        <div class="form-group">
          <div class="col-md-12">
            <div class="dropzone dropzone-previews" id="divControleImagens"></div>
            <div id="detalhesControleImagens" data-id="divPai">
              @{ Html.RenderPartial("_PartialGridGaleriaImagens", Model.PaginaControleImagens); }
            </div>
            @{ Html.RenderPartial("_PartialInstrucoesImagem"); }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="urlEnvioImagensGaleria" value="@Url.Action("EnviarImagemGaleria", "Cadastros", new { idPaginaControle = Model.IDPaginaControle })" />
<input type="hidden" id="urlRecarregarImagensGaleria" value="@Url.Action("BuscarImagensGaleria", "Cadastros")" />
<input type="hidden" id="urlRemoverImagemGaleria" value="@Url.Action("RemoverImagemGaleria", "Cadastros")" />
<input type="hidden" id="urlSalvarImagemGaleria" value="@Url.Action("SalvarImagemGaleria", "Cadastros")" />