﻿@model IEnumerable<Open.ProjetoPadrao.Web.ViewModels.Admin.VideosViewModel>

@if (Model != null && Model.Count() > 0)
{
  <div class="table-responsive">
    <table class="table table-striped" data-tipo="datatable">
      <thead>
        <tr>
          <th>Data Inclusão</th>
          <th>Título</th>
          <th width="50">Ações</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>
            <td>
              @item.DataCriacao.ToString("dd/MM/yyyy")
            </td>
            <td>
              @item.Titulo
            </td>
            <td>
              <a href="@Url.Action("Video", "Cadastros", new { id = @item.IDVideo })" class="btn btn-sm btn-success">
                <i class="fa fa-pencil-alt"></i>
              </a>
              <button data-id="btnRemoverVideo" data-idvideo="@item.IDVideo" type="button" class="btn btn-sm btn-danger" data-loading-text="<i class='fa fa-circle-notch fa-spin'></i>">
                <i class="fa fa-times"></i>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
else
{
  <div class="alert alert-info text-center">
    Nenhum vídeo cadastrado até o momento
    <br />
    Clique no botão <b>Adicionar</b> acima para iniciar um novo cadastro
  </div>
}