﻿@using Open.ProjetoPadrao.Web.Entities
@model PaginaControle

@{
  var parametro = new PaginaControleParametro();

  if (Model != null && Model.PaginaControleParametros != null && Model.PaginaControleParametros.Count > 0)
  {
    parametro = Model.PaginaControleParametros.FirstOrDefault();
  }
}

<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content padding-bottom">
      @if (UsuarioLogado.SuperUser)
      {
        <div class="row">
          <div class="form-group">
            <div class="col-xs-4">
              <input id="txtIdentificadorControle" type="text" placeholder="Identificador do controle" value="@Model.NomeIdentificadorControle" class="form-control input-lg m-b">
            </div>
          </div>
        </div>
      }
      <div class="row">
        <div class="form-group">
          <div class="col-xs-12">
            <label for="txtConteudoTexto">Texto</label>
            <textarea data-tipo="summernote" id="txtConteudoTexto" rows="20" placeholder="Conteúdo do texto" class="form-control input-lg m-b">@parametro.ConteudoTexto</textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-xs-12">
            <label for="txtConteudoTexto">Texto em Inglês</label>
            <textarea data-tipo="summernote" id="txtConteudoTextoEN" rows="20" placeholder="Conteúdo do texto (Inglês)" class="form-control input-lg m-b">@parametro.ConteudoTextoEN</textarea>
          </div>
        </div>
      </div>
      <div class="hr-line-dashed"></div>
      <div class="row text-right">
        <div class="form-group">
          <div class="col-xs-12">
            <button class="btn btn-white" type="button" id="btnCancelarEdicaoControle">Voltar</button>
            <button class="btn btn-primary" type="button" id="btnSalvarEdicaoTexto" data-urlaction="@Url.Action("ConfigurarTexto", "Cadastros")" data-loading-text="<i class='fa fa-circle-notch fa-spin'></i>">Salvar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section estilos {
  @Styles.Render("~/bundles/admin/css/plugins/summernote")
}

@section scripts {
  @Scripts.Render("~/bundles/admin/js/plugins/summernote")
}