﻿@model Open.ProjetoPadrao.Web.ViewModels.Admin.VideoViewModel

<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Dados Gerais</h5>
  </div>
  <div class="ibox-content padding-bottom">
    <div class="row">
      <div class="form-group">
        <div class="col-lg-6">
          @Html.LabelFor(a => a.Titulo)
          @Html.TextBoxFor(a => a.Titulo, new { placeholder = "Título do Vídeo", @class = "form-control m-b" })
          @Html.ValidationMessageFor(a => a.Titulo)
        </div>
        <div class="col-lg-6">
          @Html.LabelFor(a => a.URL)
          @Html.TextBoxFor(a => a.URL, new { placeholder = "Link do Vídeo", @class = "form-control m-b" })
          @Html.ValidationMessageFor(a => a.URL)
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="col-lg-6">
          @Html.LabelFor(a => a.Alt)
          @Html.TextBoxFor(a => a.Alt, new { placeholder = "Alt do Vídeo (SEO)", @class = "form-control m-b" })
          @Html.ValidationMessageFor(a => a.Alt)
        </div>
        <div class="col-lg-2">
          @Html.LabelFor(a => a.ExibirHome)
          @Html.DropDownListFor(a => a.ExibirHome, Model.ListaExibirHome, "-- Exibir na Home --", new { @class = "form-control m-b" })
          @Html.ValidationMessageFor(a => a.ExibirHome)
        </div>
        <div class="col-lg-2">
          @Html.LabelFor(a => a.TipoVideo)
          @Html.DropDownListFor(a => a.TipoVideo, Model.ListaTipoVideo, "-- Tipo --", new { @class = "form-control m-b" })
          @Html.ValidationMessageFor(a => a.TipoVideo)
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="col-lg-12">
          @Html.LabelFor(a => a.Descricao)
          @Html.TextAreaFor(a => a.Descricao, new { placeholder = "Descrição do Vídeo", @class = "form-control m-b", rows = 6 })
        </div>
      </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="row text-right">
      <div class="form-group">
        <div class="col-xs-12">
          <a href="@Url.Action("Videos", "Cadastros")" class="btn btn-white">Voltar</a>
          <button class="btn btn-primary" type="submit" id="btnCadastrar" data-loading-text="<i class='fa fa-circle-notch fa-spin'></i>">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>