﻿@model Open.ProjetoPadrao.Web.Entities.PaginaControle

<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          Edição de Vitrine aqui
        </div>
      </div>
    </div>
  </div>
</div>
