﻿<div class="alert alert-info text-left" style="margin-top:50px">
  <strong>Instruções</strong>
  <ul>
    <li>
      Arraste as imagens para o retângulo acima ou clique para selecionar as imagens desejadas.
    </li>
    <li>
      Após o envio das imagens, um campo será exibido para incluir o texto de exibição da imagem na galeria do site.
    </li>
    <li>
      Ao finalizar o preenchimento dos textos de exibição, clique em no botão verde com o ícone <i class="fa fa-check"></i>.
    </li>
    <li>
      Caso deseje remover a imagem, clique no botão vermelho com o ícone <i class="fa fa-times"></i> e confirme.
    </li>
  </ul>
</div>