﻿@model IEnumerable<Open.ProjetoPadrao.Web.Entities.PaginaControleImagem>
@if (Model != null && Model.Count() > 0)
{
  <div class="table-responsive">
    <table class="table table-striped" id="listaGaleriaImagens">
      <thead>
        <tr>
          <th width="55">Ordenar</th>
          <th width="55">Preview</th>
          <th>Alt</th>
          <th>Alt em Inglês</th>
          @*<th>Legenda</th>
            <th>Título</th>
            <th>Sub-Título</th>*@
          <th>URL Redirecionamento</th>
          @*<th>Legenda em Inglês</th>
            <th>Título em Inglês</th>
            <th>Sub-Título em Inglês</th>*@
          <th>URL Redirecionamento em Inglês</th>
          <th width="100">Ações</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          string caminhoImagem = string.Format("~/Uploads/Imagens/Galeria/{0}/{1}{2}", item.IDPaginaControle, item.Arquivo.NomeHash, item.Arquivo.Extensao);

          <tr id="@item.IDPaginaControleImagem">
            <td class="cursor-pointer text-center"><i class="fa fa-mouse-pointer" style="font-size:15pt"></i></td>
            <td>
              <a href="@Url.Content(caminhoImagem)" data-lightbox="@item.IDPaginaControleImagem" data-title="@item.Legenda">
                <img src="@Url.Content(caminhoImagem)" class="img-thumbnail" data-lightbox="@item.IDPaginaControleImagem" data-title="@item.Legenda" />
              </a>
            </td>
            <td>
              @Html.TextBoxFor(a => item.Alt, new { @class = "form-control textbox-full", placeholder = "Alt (SEO)", data_id = "txtAlt-" + item.IDPaginaControleImagem })
            </td>
            <td>
              @Html.TextBoxFor(a => item.AltEN, new { @class = "form-control textbox-full", placeholder = "Alt Inglês (SEO)", data_id = "txtAltEN-" + item.IDPaginaControleImagem })
            </td>
            @*<td>
                @Html.TextBoxFor(a => item.Legenda, new { @class = "form-control", placeholder = "Legenda na galeria", data_id = "txtLegenda-" + item.IDPaginaControleImagem })
              </td>
              <td>
                @Html.TextBoxFor(a => item.TextoTitulo, new { @class = "form-control", placeholder = "Título", data_id = "txtTitulo-" + item.IDPaginaControleImagem })
              </td>
              <td>
                @Html.TextBoxFor(a => item.TextoSubTitulo, new { @class = "form-control", placeholder = "Sub-Título", data_id = "txtSubTitulo-" + item.IDPaginaControleImagem })
              </td>*@
            <td>
              @Html.TextBoxFor(a => item.URLRedirecionamento, new { @class = "form-control textbox-full", placeholder = "URL Redirecionamento", data_id = "txtURLRedirecionamento-" + item.IDPaginaControleImagem })
            </td>

            @*<td>
                @Html.TextBoxFor(a => item.LegendaEN, new { @class = "form-control", placeholder = "Legenda na galeria (Inglês)", data_id = "txtLegendaEN-" + item.IDPaginaControleImagem })
              </td>
              <td>
                @Html.TextBoxFor(a => item.TextoTituloEN, new { @class = "form-control", placeholder = "Título (Inglês)", data_id = "txtTituloEN-" + item.IDPaginaControleImagem })
              </td>
              <td>
                @Html.TextBoxFor(a => item.TextoSubTituloEN, new { @class = "form-control", placeholder = "Sub-Título (Inglês)", data_id = "txtSubTituloEN-" + item.IDPaginaControleImagem })
              </td>*@
            <td>
              @Html.TextBoxFor(a => item.URLRedirecionamentoEN, new { @class = "form-control textbox-full", placeholder = "URL Redirecionamento (Inglês)", data_id = "txtURLRedirecionamentoEN-" + item.IDPaginaControleImagem })
            </td>
            <td class="text-center">
              <button data-id="btnSalvarImagemGaleria" data-idimagem="@item.IDPaginaControleImagem" class="btn btn-primary" data-loading-text="<i class='fa fa-circle-notch fa-spin'></i>">
                <i class="fa fa-check"></i>
              </button>
              <button data-id="btnRemoverImagemGaleria" data-idimagem="@item.IDPaginaControleImagem" class="btn btn-danger" data-principal="false" data-loading-text="<i class='fa fa-circle-notch fa-spin'></i>">
                <i class="fa fa-times"></i>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

}
else
{
  <div class="alert alert-warning text-center">
    Nenhuma imagem enviada até o momento<br />
  </div>
}