﻿@model IEnumerable<Open.ProjetoPadrao.Web.Entities.PaginaControle>

@if (Model != null && Model.Count() > 0)
{
  <div class="table-responsive">
    <table id="tabelaPaginaControles" class="table table-striped" data-tipo="datatable">
      <thead>
        <tr>
          <th>Componente</th>
          <th>Identificador</th>
          <th width="50">Ações</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>
            <td>
              @item.Controle.Nome
            </td>
            <td>
              @if (string.IsNullOrEmpty(item.NomeIdentificadorControle))
              {
                @:Não configurado
              }
              else
              {
                @item.NomeIdentificadorControle
              }
            </td>
            <td>
              @if (UsuarioLogado.EditaPagina || UsuarioLogado.SuperUser)
              {
                <a href="@Url.Action("ConfiguracaoControle", "Cadastros", new { id = @item.IDPaginaControle })" class="btn btn-sm btn-success">
                  <i class="fa fa-pencil-alt"></i>
                </a>
              }
              @if (UsuarioLogado.CadastraPagina || UsuarioLogado.SuperUser)
              {
                <button type="button" data-url="@Url.Action("DeletarControlePagina", "Cadastros")" data-id="btnDeletarControlePagina" data-idpaginacontrole="@item.IDPaginaControle" class="btn btn-sm btn-danger" data-loading-text="<i class='fa fa-circle-notch fa-spin'></i>">
                  <i class="fa fa-times"></i>
                </button>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
else
{
  <div class="alert alert-info text-center">
    Nenhum controle cadastrado até o momento
  </div>
}