﻿@model IEnumerable<Open.ProjetoPadrao.Web.ViewModels.PaginaControleViewModel>

@if (Model != null && Model.Count() > 0)
{
  foreach (var item in Model)
  {
    <div class="col-lg-4 col-md-12">
      <div class="jumbotron">
        <h2 class="font-bold">@item.NomeControle</h2>
        <p>@item.TextoConfigurado</p>
        <p>
          <button type="button" data-url="@Url.Action("DeletarControlePagina", "Cadastros")" data-id="btnDeletarControlePagina" data-idpaginacontrole="@item.IDPaginaControle" class="btn btn-danger">
            <i class="fa fa-times"></i>
          </button>
          <a href="@Url.Action("ConfiguracaoControle", "Cadastros", new { id = item.IDPaginaControle })" class="btn btn-@item.ClasseBotao">
            @item.TextoBotao
          </a>
        </p>
      </div>
    </div>
  }
}
else
{
  <div class="box-vazio-pagina">
    <p class="texto-box-vazio-pagina">
      Nenhum controle adicionado até o momento
    </p>
    <p class="subtexto-box-vazio-pagina">
      Clique no controle ao lado para adicioná-lo à página
    </p>
  </div>
}