﻿@using Open.ProjetoPadrao.Web.Entities
@model PaginaControle

@{
  var parametro = new PaginaControleParametro();

  if (Model != null && Model.PaginaControleParametros != null && Model.PaginaControleParametros.Count > 0)
  {
    parametro = Model.PaginaControleParametros.FirstOrDefault();
  }
}

<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content padding-bottom">
      @if (UsuarioLogado.SuperUser)
      {
        <div class="row">
          <div class="form-group">
            <div class="col-xs-4">
              <input id="txtIdentificadorControle" type="text" placeholder="Identificador do controle" value="@Model.NomeIdentificadorControle" class="form-control input-lg m-b">
            </div>
          </div>
        </div>
      }
      <div class="row">
        <div class="form-group">
          <div class="col-xs-12">
            <label for="txtConteudoTitle">Title</label>
            <input id="txtConteudoTitle" placeholder="Conteúdo do title" class="form-control input-lg m-b" value="@parametro.ConteudoTitle" />
          </div>
          <div class="col-xs-12">
            <label for="txtConteudoTitle">Title em Inglês</label>
            <input id="txtConteudoTitleEN" placeholder="Conteúdo do title (Inglês)" class="form-control input-lg m-b" value="@parametro.ConteudoTitleEN" />
          </div>
          <div class="col-xs-12">
            <label for="txtConteudoDescription">Description</label>
            <textarea id="txtConteudoDescription" rows="6" placeholder="Conteúdo do description" class="form-control input-lg m-b">@parametro.ConteudoDescription</textarea>
          </div>
          <div class="col-xs-12">
            <label for="txtConteudoDescription">Description em Inglês</label>
            <textarea id="txtConteudoDescriptionEN" rows="6" placeholder="Conteúdo do description (Inglês)" class="form-control input-lg m-b">@parametro.ConteudoDescriptionEN</textarea>
          </div>
        </div>
      </div>
      <div class="hr-line-dashed"></div>
      <div class="row text-right">
        <div class="form-group">
          <div class="col-xs-12">
            <button class="btn btn-white" type="button" id="btnCancelarEdicaoControle">Voltar</button>
            <button class="btn btn-primary" type="button" id="btnSalvarEdicaoTitleDescription" data-urlaction="@Url.Action("ConfigurarTitleDescription", "Cadastros")" data-loading-text="<i class='fa fa-circle-notch fa-spin'></i>">Salvar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section estilos {
  @Styles.Render("~/bundles/admin/css/plugins/summernote")
}

@section scripts {
  @Scripts.Render("~/bundles/admin/js/plugins/summernote")
}