﻿@model IEnumerable<Open.ProjetoPadrao.Web.ViewModels.Admin.BairrosViewModel>

@if (Model != null && Model.Count() > 0)
{
  <div class="table-responsive">
    <table class="table table-striped" data-tipo="datatable">
      <thead>
        <tr>
          <th>Bairro</th>
          <th>UF</th>
          <th>Cidade</th>
          <th class="text-center">Endereços Vinculados</th>
          <th width="50">Ações</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>
            <td>
              @item.Nome
            </td>
            <td>
              @item.NomeEstado
            </td>
            <td>
              @item.NomeCidade
            </td>
            <td class="text-center">
              @item.QtdEnderecosVinculados
            </td>
            <td>
              <a href="@Url.Action("Bairro", "Cadastros", new { id = @item.IDBairro })" class="btn btn-sm btn-success">
                <i class="fa fa-pencil-alt"></i>
              </a>
              @if (item.QtdEnderecosVinculados == 0)
              {
                <button data-id="btnRemoverBairro" data-idbairro="@item.IDBairro" type="button" class="btn btn-sm btn-danger" data-loading-text="<i class='fa fa-circle-notch fa-spin'></i>">
                  <i class="fa fa-times"></i>
                </button>
              }
              else
              {
                <button type="button" class="btn btn-sm btn-danger" disabled>
                  <i class="fa fa-times"></i>
                </button>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
else
{
  <div class="alert alert-info text-center">
    Nenhum bairro cadastrado até o momento
    <br />
    Clique no botão <b>Adicionar</b> acima para iniciar um novo cadastro
  </div>
}