﻿@model Open.ProjetoPadrao.Web.ViewModels.PaginaViewModel

<div class="fh-breadcrumb">
  <div class="fh-column">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
      <div class="full-height-scroll" style="overflow: hidden; width: auto; height: 100%;">
        <ul class="list-group elements-list" data-idpagina="@Model.IDPagina" data-urlAction="@Url.Action("AdicionarControlePagina", "Cadastros")">
          @if (Model != null && Model.ControlesPermitidosUsuario != null)
          {
            foreach (var controle in Model.ControlesPermitidosUsuario)
            {
              <li class="list-group-item cursor-pointer" data-nome="controle-pagina" data-nomecontrole="@controle.Nome" data-idcontrole="@controle.IDControle">
                <div class="controle-icone-div">
                  <i class="@controle.Icone controle-icone"></i>
                </div>
                <div class="controle-texto-div">
                  <strong class="controle-texto">@controle.Nome</strong>
                  <div class="small m-t-xs">
                    <p>
                      @controle.Descricao
                    </p>
                  </div>
                </div>
              </li>
            }
          }
        </ul>
      </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 590.02px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
    </div>
  </div>
  <div class="full-height">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
      <div class="full-height-scroll white-bg border-left" style="overflow: hidden; width: auto; height: 100%;">
        <div class="element-detail-box">
          <div class="tab-content">
            <div class="tab-pane active" id="divControlesPagina">
              @{ Html.RenderPartial("_PartialPaginaControle", Model.PaginaControles); }
            </div>
          </div>
        </div>
      </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 700.011px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
    </div>
  </div>
</div>