﻿@model IEnumerable<Open.ProjetoPadrao.Web.ViewModels.Admin.PaginasViewModel>

@if (Model != null && Model.Count() > 0)
{
  <div class="table-responsive">
    <table class="table table-striped" data-tipo="datatable">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Identificador</th>
          @if (UsuarioLogado.SuperUser || UsuarioLogado.EditaPagina)
          {
            <th width="50">Ações</th>
          }
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>
            <td>
              @item.Nome
            </td>
            <td>
              @if (string.IsNullOrEmpty(item.Identificador))
              {
                @:Sem identificador
              }
              else
              {
                @item.Identificador
              }
            </td>
            <td>
              @if (UsuarioLogado.SuperUser || UsuarioLogado.EditaPagina)
              {
                <a href="@Url.Action("Pagina", "Cadastros", new { id = @item.IDPagina })" class="btn btn-sm btn-success">
                  <i class="fa fa-pencil-alt"></i>
                </a>
              }
              else
              {
                <button type="button" class="btn btn-sm btn-success" disabled>
                  <i class="fa fa-pencil-alt"></i>
                </button>
              }
              @if (UsuarioLogado.SuperUser || UsuarioLogado.CadastraPagina)
              {
                <button data-id="btnRemoverPagina" data-idpagina="@item.IDPagina" data-nomepagina="@item.Nome" data-urlremover="@Url.Action("RemoverPagina", "Cadastros")" type="button" class="btn btn-sm btn-danger" data-loading-text="<i class='fa fa-circle-notch fa-spin'></i>">
                  <i class="fa fa-times"></i>
                </button>
              }
              else
              {
                <button type="button" class="btn btn-sm btn-danger" disabled>
                  <i class="fa fa-times"></i>
                </button>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
else
{
  <div class="alert alert-info text-center">
    Nenhuma página cadastrada até o momento
    @if (UsuarioLogado.SuperUser || UsuarioLogado.CadastraPagina)
    {
      <br />
      @:Clique no botão <strong>Adicionar</strong> acima para iniciar um novo cadastro
    }
  </div>
}