﻿@model Open.ProjetoPadrao.Web.ViewModels.Admin.BairroViewModel

<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Dados Gerais</h5>
  </div>
  <div class="ibox-content padding-bottom">
    <div class="row">
      <div class="form-group">
        <div class="col-lg-3">
          @Html.LabelFor(a => a.IDEstado)
          @Html.DropDownListFor(a => a.IDEstado, Model.ListaEstados, "-- Estado --", new { @class = "form-control m-b", data_url = Url.Action("BuscarCidades", "Base") })
          @Html.ValidationMessageFor(a => a.IDEstado)
        </div>
        <div class="col-lg-3">
          @Html.LabelFor(a => a.IDCidade)
          @Html.DropDownListFor(a => a.IDCidade, Model.ListaCidades == null ? Enumerable.Empty<SelectListItem>() : Model.ListaCidades, Model.ListaCidades == null ? "-- Selecione o Estado --" : "-- Cidade --", new { @class = "form-control m-b" })
          @Html.ValidationMessageFor(a => a.IDCidade)
        </div>
        <div class="col-lg-4">
          @Html.LabelFor(a => a.Nome)
          @Html.TextBoxFor(a => a.Nome, new { placeholder = "Nome do Bairro", @class = "form-control m-b" })
          @Html.ValidationMessageFor(a => a.Nome)
        </div>
      </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="row text-right">
      <div class="form-group">
        <div class="col-xs-12">
          <a href="@Url.Action("Bairros", "Cadastros")" class="btn btn-white">Voltar</a>
          <button class="btn btn-primary" type="submit" id="btnCadastrar" data-loading-text="<i class='fa fa-circle-notch fa-spin'></i>">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>