﻿@model Open.ProjetoPadrao.Web.ViewModels.Admin.BairroViewModel
@{
  ViewBag.Title = Model.Nome;
  Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>@Model.Nome</h2>
    <ol class="breadcrumb">
      <li>
        <a href="@Url.Action("Index", "Principal")">Dashboard</a>
      </li>
      <li>
        <a href="#">Cadastros</a>
      </li>
      <li>
        <a href="@Url.Action("Bairros", "Cadastros")">Bairros</a>
      </li>
      <li class="active">
        <strong>@Model.Nome</strong>
      </li>
    </ol>
  </div>
</div>
@using (Ajax.BeginForm("EditarBairro", "Cadastros",
       new AjaxOptions()
       {
         HttpMethod = "POST",
         OnBegin = "inicioCadastro",
         OnSuccess = "sucessoCadastro",
         OnFailure = "falhaCadastro",
       },
       new { id = "formBairro", @class = "m-t", role = "form" }))
{
  @Html.AntiForgeryToken()
  <div class="wrapper wrapper-content">
    @{ Html.RenderPartial("_PartialBairro", Model); }
  </div>
  @Html.HiddenFor(a => a.IDBairro)
}

@section scripts {
  @Scripts.Render("~/bundles/admin/js/bairro")
} 