﻿@using Open.ProjetoPadrao.Web.Enums;
@model Open.ProjetoPadrao.Web.Entities.PaginaControle
@{
  ViewBag.Title = "Configuração de Controle " + Model.Controle.Nome;
  Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

  string identificadorControle = string.IsNullOrEmpty(Model.NomeIdentificadorControle) ? "Sem identificador" : Model.NomeIdentificadorControle;
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Configuração de @Model.Controle.Nome - @identificadorControle</h2>
    <ol class="breadcrumb">
      <li>
        <a href="@Url.Action("Index", "Principal")">Dashboard</a>
      </li>
      <li>
        <a>Cadastros</a>
      </li>
      <li>
        <a href="@Url.Action("Paginas", "Cadastros")">Páginas</a>
      </li>
      <li>
        <a href="@Url.Action("Pagina", "Cadastros", new { id = Model.IDPagina })">@Model.Pagina.Nome</a>
      </li>
      <li class="active">
        <strong>@Model.Controle.Nome - @identificadorControle</strong>
      </li>
    </ol>
  </div>
</div>

@{
  string nomePartialView = string.Empty;

  switch (Model.Controle.TipoControle)
  {
    case TiposControle.Headline:
      nomePartialView = "_PartialConfiguracaoHeadline";
      break;
    case TiposControle.Texto:
      nomePartialView = "_PartialConfiguracaoTexto";
      break;
    case TiposControle.Galeria:
      nomePartialView = "_PartialConfiguracaoGaleria";
      break;
    case TiposControle.Vitrine:
      nomePartialView = "_PartialConfiguracaoVitrine";
      break;
    case TiposControle.TitleDescription:
      nomePartialView = "_PartialConfiguracaoTitleDescription";
      break;
  }

  Html.RenderPartial(nomePartialView, Model);
}

@section scripts {
  @Scripts.Render("~/bundles/admin/js/plugins/summernote")
  @Scripts.Render("~/bundles/admin/js/plugins/datatables-rowreorder")
  @Scripts.Render("~/bundles/admin/js/plugins/dropzone")
  @Scripts.Render("~/bundles/admin/js/plugins/lightbox")
  @Scripts.Render("~/bundles/admin/js/controle")
}

@section estilos {
  @Styles.Render("~/bundles/admin/css/plugins/summernote")
  @Styles.Render("~/bundles/admin/css/plugins/datatables-rowreorder")
  @Styles.Render("~/bundles/admin/css/plugins/dropzone")
  @Styles.Render("~/bundles/admin/css/plugins/lightbox")
}

@Html.HiddenFor(a => a.IDPaginaControle)
@Html.Hidden("UrlRetornoPaginas", Url.Action("Paginas", "Cadastros"))
@Html.Hidden("PaginaRetorno", Url.Action("Pagina", "Cadastros", new { id = Model.IDPagina }))
@Html.Hidden("UrlReordenarGaleria", Url.Action("ReordenarGaleria", "Cadastros"))