﻿@model IEnumerable<Open.ProjetoPadrao.Web.ViewModels.Admin.PaginasViewModel>
@{
  ViewBag.Title = "Páginas";
  Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Páginas</h2>
    <ol class="breadcrumb">
      <li>
        <a href="@Url.Action("Index", "Principal")">Dashboard</a>
      </li>
      <li>
        <a href="#">Cadastros</a>
      </li>
      <li class="active">
        <strong>Páginas</strong>
      </li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content">
      <div class="ibox float-e-margins">
        @if (UsuarioLogado.SuperUser || UsuarioLogado.CadastraPagina)
        {
          <div class="ibox-title">
            <div class="ibox-tools">
              <a href="@Url.Action("NovaPagina", "Cadastros")" class="btn btn-w-m btn-primary">Adicionar</a>
            </div>
          </div>
        }
        <div class="ibox-content padding-bottom" id="divPaginas">
          @{ Html.RenderPartial("_PartialGridPaginas", Model); }
        </div>
      </div>
    </div>
  </div>
</div>

@section scripts {
  @Scripts.Render("~/bundles/admin/js/pagina")
}