﻿@model Open.ProjetoPadrao.Web.ViewModels.Admin.PaginaViewModel
@{
  ViewBag.Title = Model.Nome;
  Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <div id="divNomePagina" class="cursor-pointer">
      <h2 id="nomePagina">@Model.Nome - Clique para editar</h2>
      <input id="txtEdicaoNomePagina" type="text" value="" class="form-control input-lg hidden input-lg-pagina" placeholder="Digite o novo nome da página" data-urlSalvarPagina="@Url.Action("SalvarPagina", "Cadastros")" data-idPagina="@Model.IDPagina" />
    </div>
    <ol class="breadcrumb">
      <li><a href="@Url.Action("Index", "Principal")">Dashboard</a></li>
      <li><a href="#">Cadastros</a></li>
      <li><a href="@Url.Action("Paginas", "Cadastros")">Páginas</a></li>
      <li class="active"><strong id="lblNomePagina">@Model.Nome</strong></li>
    </ol>
  </div>
</div>
<div class="fh-breadcrumb">
  <div class="fh-column">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
      <div class="full-height-scroll" style="overflow: hidden; width: auto; height: 100%;">
        @if (UsuarioLogado.CadastraPagina || UsuarioLogado.SuperUser)
        {
          <ul class="list-group elements-list margin-bottom-0" data-idpagina="@Model.IDPagina" data-urlAction="@Url.Action("AdicionarControlePagina", "Cadastros")">
            @if (Model != null && Model.ListaControles != null)
            {
              foreach (var controle in Model.ListaControles)
              {
                <li class="list-group-item cursor-pointer" data-nome="controle-pagina" data-nomecontrole="@controle.Nome" data-idcontrole="@controle.IDControle">
                  <div class="controle-icone-div">
                    <i class="@controle.Icone controle-icone"></i>
                  </div>
                  <div class="controle-texto-div">
                    <strong class="controle-texto">@controle.Nome</strong>
                    <div class="small m-t-xs">
                      <p>
                        @controle.Descricao
                      </p>
                    </div>
                  </div>
                </li>
              }
            }
          </ul>
          <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 590.02px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
        }
      </div>
    </div>
  </div>
  <div class="full-height">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
      <div class="full-height-scroll white-bg border-left" style="overflow: hidden; width: auto; height: 100%;">
        <div class="element-detail-box">
          <div class="tab-content">
            <div class="tab-pane active" id="divControlesPagina">
              @{ Html.RenderPartial("_PartialGridPaginaControles", Model.PaginaControles); }
            </div>
          </div>
        </div>
      </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 700.011px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
    </div>
  </div>
</div>
@section scripts {
  @Scripts.Render("~/bundles/admin/js/pagina")
} 