﻿@model IEnumerable<Open.ProjetoPadrao.Web.ViewModels.Admin.VideosViewModel>
@{
  ViewBag.Title = "Vídeos";
  Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Vídeos</h2>
    <ol class="breadcrumb">
      <li>
        <a href="@Url.Action("Index", "Principal")">Dashboard</a>
      </li>
      <li>
        <a href="#">Cadastros</a>
      </li>
      <li class="active">
        <strong>Vídeos</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <div class="ibox-tools">
        <a href="@Url.Action("NovoVideo", "Cadastros")" class="btn btn-w-m btn-primary">Adicionar</a>
      </div>
    </div>
    <div class="ibox-content padding-bottom" id="divVideos">
      @{ Html.RenderPartial("_PartialGridVideos", Model); }
    </div>
  </div>
</div>

<input type="hidden" id="urlRemoverVideo" value="@Url.Action("RemoverVideo", "Cadastros")" />

@section scripts {
  @Scripts.Render("~/bundles/admin/js/video")
}