﻿@model Open.ProjetoPadrao.Web.ViewModels.Admin.VideoViewModel
@{
  ViewBag.Title = Model.Titulo;
  Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>@Model.Titulo</h2>
    <ol class="breadcrumb">
      <li>
        <a href="@Url.Action("Index", "Principal")">Dashboard</a>
      </li>
      <li>
        <a href="#">Cadastros</a>
      </li>
      <li>
        <a href="@Url.Action("Videos", "Cadastros")">Vídeos</a>
      </li>
      <li class="active">
        <strong>@Model.Titulo</strong>
      </li>
    </ol>
  </div>
</div>
@using (Ajax.BeginForm("EditarVideo", "Cadastros",
       new AjaxOptions()
       {
         HttpMethod = "POST",
         OnBegin = "inicioCadastro",
         OnSuccess = "sucessoCadastro",
         OnFailure = "falhaCadastro",
       },
       new { id = "formVideo", @class = "m-t", role = "form" }))
{
  @Html.AntiForgeryToken()
  <div class="wrapper wrapper-content">
    @{ Html.RenderPartial("_PartialVideo", Model); }
  </div>
  @Html.HiddenFor(a => a.IDVideo)
  @Html.HiddenFor(a => a.DataCriacao)
}

@section scripts {
  @Scripts.Render("~/bundles/admin/js/video")
} 