﻿@{
  ViewBag.Title = "Dashboard";
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Dashboard</h2>
  </div>
</div>

@section estilos {
  @Styles.Render("~/bundles/admin/css/plugins/datatables")
}

@section scripts {
  @Scripts.Render("~/bundles/admin/js/plugins/datatables")
}