﻿@model IEnumerable<Open.ProjetoPadrao.Web.ViewModels.Admin.UsuariosViewModel>

@if (Model != null && Model.Count() > 0)
{
  <table class="table table-striped" data-tipo="datatable">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Login</th>
        <th>E-mail</th>
        <th>Perfil</th>
        <th width="50">Ações</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr>
          <td>
            @item.Nome
          </td>
          <td>
            @item.Login
          </td>
          <td>
            @item.Email
          </td>
          <td>
            @item.NomePerfil
          </td>
          <td>
            @if (!UsuarioLogado.SuperUser && item.SuperUser)
            {
              <button type="button" class="btn btn-sm btn-success" disabled="disabled">
                <i class="fa fa-pencil-alt"></i>
              </button>
            }
            else
            {
              <a href="@Url.Action("Usuario", "Administracao", new { id = item.IDUsuario })" class="btn btn-sm btn-success">
                <i class="fa fa-pencil-alt"></i>
              </a>
            }
            @if (UsuarioLogado.IDUsuario.Equals(item.IDUsuario) || (!UsuarioLogado.SuperUser && item.SuperUser))
            {
              <button type="button" class="btn btn-sm btn-danger" disabled="disabled">
                <i class="fa fa-times"></i>
              </button>
            }
            else
            {
              <button type="button" class="btn btn-sm btn-danger" data-id="btnRemoverUsuario" data-idusuario="@item.IDUsuario" data-loading-text="<i class='fa fa-circle-notch fa-spin'></i>">
                <i class="fa fa-times"></i>
              </button>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
}
else
{
  <div class="alert alert-info text-center margin-top-aviso">
    Nenhum usuário cadastrado até o momento <br />
    Clique no botão <strong>Adicionar</strong> acima para iniciar um novo cadastro
  </div>
}