﻿@model Open.ProjetoPadrao.Web.ViewModels.Admin.UsuarioViewModel

@{
  string dataVal = string.IsNullOrEmpty(Model.Login) ? "true" : "false";
}

<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Dados do Usuário</h5>
  </div>
  <div class="ibox-content padding-bottom">
    <div class="row">
      <div class="form-group">
        <div class="col-lg-4">
          @Html.LabelFor(a => a.Nome)
          @Html.TextBoxFor(a => a.Nome, new { placeholder = "Nome Completo", @class = "form-control m-b" })
          @Html.ValidationMessageFor(a => a.Nome)
        </div>
        <div class="col-lg-4">
          @Html.LabelFor(a => a.Email)
          @Html.TextBoxFor(a => a.Email, new { placeholder = "E-mail", @class = "form-control m-b" })
          @Html.ValidationMessageFor(a => a.Email)
        </div>
        <div class="col-lg-4">
          @Html.LabelFor(a => a.Ativo, new { @class = "label-sem-margem" })
          <div>
            <label class="container-radio">
              Sim
              @Html.RadioButtonFor(a => a.Ativo, true)
              <span class="checkmark"></span>
            </label>
            <label class="container-radio">
              Não
              @Html.RadioButtonFor(a => a.Ativo, false)
              <span class="checkmark"></span>
            </label>
          </div>
          @Html.ValidationMessageFor(a => a.Ativo)
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="col-lg-3">
          @Html.LabelFor(a => a.Login)
          @if (!string.IsNullOrEmpty(Model.Login))
          {
            @Html.TextBoxFor(a => a.Login, new { placeholder = "Login", @class = "form-control m-b", @readonly = "true" })
          }
          else
          {
            @Html.TextBoxFor(a => a.Login, new { placeholder = "Login", @class = "form-control m-b" })
          }
          @Html.ValidationMessageFor(a => a.Login)
        </div>
        <div class="col-lg-3">
          @Html.LabelFor(a => a.Senha)
          @Html.TextBoxFor(a => a.Senha, new { placeholder = "Senha", @class = "form-control m-b", @type = "password", data_val = dataVal })
          @Html.ValidationMessageFor(a => a.Senha)
        </div>
        <div class="col-lg-3">
          @Html.LabelFor(a => a.ConfirmacaoSenha)
          @Html.TextBoxFor(a => a.ConfirmacaoSenha, new { placeholder = "Confirmação de Senha", @class = "form-control m-b", @type = "password", data_val = dataVal })
          @Html.ValidationMessageFor(a => a.ConfirmacaoSenha)
        </div>
        <div class="col-lg-3">
          @Html.LabelFor(a => a.IDUsuarioPerfil)
          @Html.DropDownListFor(a => a.IDUsuarioPerfil, Model.ListPerfis, "-- Perfil --", new { @class = "form-control m-b" })
          @Html.ValidationMessageFor(a => a.IDUsuarioPerfil)
        </div>
      </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="row text-right">
      <div class="form-group">
        <div class="col-xs-12">
          <a class="btn btn-white" href="@Url.Action("Usuarios", "Administracao")">Voltar</a>
          <button class="btn btn-primary" type="submit" id="btnCadastrar" data-loading-text="<i class='fa fa-circle-notch fa-spin'></i>">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>
@Html.HiddenFor(a => a.IDPessoa)
@Html.HiddenFor(a => a.IDUsuario)