﻿@model IEnumerable<Open.ProjetoPadrao.Web.ViewModels.Admin.UsuarioPerfisViewModel>

@if (Model != null && Model.Count() > 0)
{
  <table class="table table-striped" data-tipo="datatable">
    <thead>
      <tr>
        <th>Nome</th>
        <th class="text-center" width="100">Usuários</th>
        <th class="text-center" width="100">Super User</th>
        @if (UsuarioLogado.SuperUser)
        {
          <th width="50">Ações</th>
        }
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr>
          <td>
            @item.Nome
          </td>
          <td class="text-center">
            @item.QtdUsuarios
          </td>
          <td class="text-center">
            @if (item.Administrador)
            {
              @:Sim
            }
            else
            {
              @:Não
            }
          </td>
          @if (UsuarioLogado.SuperUser)
          {
            <td>
              <a href="@Url.Action("Perfil", "Administracao", new { id = item.IDUsuarioPerfil })" class="btn btn-sm btn-success">
                <i class="fa fa-pencil-alt"></i>
              </a>
              @if ((item.Administrador && !UsuarioLogado.SuperUser) || item.QtdUsuarios > 0)
              {
                <button type="button" class="btn btn-sm btn-danger" disabled="disabled">
                  <i class="fa fa-times"></i>
                </button>
              }
              else
              {
                <button type="button" class="btn btn-sm btn-danger" data-id="btnRemoverPerfil" data-idperfil="@item.IDUsuarioPerfil" data-loading-text="<i class='fa fa-circle-notch fa-spin'></i>">
                  <i class="fa fa-times"></i>
                </button>
              }
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
}
else
{
  <div class="alert alert-info text-center margin-top-aviso">
    Nenhum perfil cadastrado até o momento <br />
    Clique no botão <strong>Adicionar</strong> acima para iniciar um novo cadastro
  </div>
}

<input type="hidden" value="@Url.Action("RemoverPerfil", "Administracao")" id="urlRemoverPerfil" />