﻿@model Open.ProjetoPadrao.Web.ViewModels.Admin.UsuarioPerfilViewModel

<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Dados Gerais</h5>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="form-group">
        <div class="col-lg-4">
          @Html.LabelFor(a => a.Nome, new { @class = "label-sem-margem" })
          @Html.TextBoxFor(a => a.Nome, new { placeholder = "Nome do Perfil", @class = "form-control m-b" })
          @Html.ValidationMessageFor(a => a.Nome)
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Permissões</h5>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="form-group">
        @if (UsuarioLogado.SuperUser)
        {
          <div class="col-lg-2">
            @Html.LabelFor(a => a.SuperUser, "Super Usuário", new { @class = "label-sem-margem" })
            <div>
              <label class="container-radio label-sem-margem">
                Sim
                @Html.RadioButtonFor(a => a.SuperUser, true)
                <span class="checkmark"></span>
              </label>
              <label class="container-radio label-sem-margem">
                Não
                @Html.RadioButtonFor(a => a.SuperUser, false)
                <span class="checkmark"></span>
              </label>
            </div>
            @Html.ValidationMessageFor(a => a.SuperUser)
          </div>
        }
        <div class="col-lg-2">
          @Html.LabelFor(a => a.AcessoSistemaAdmin, "Acessa Sistema Admin", new { @class = "label-sem-margem" })
          <div>
            <label class="container-radio label-sem-margem">
              Sim
              @Html.RadioButtonFor(a => a.AcessoSistemaAdmin, true, new { data_id = "checkPermissao" })
              <span class="checkmark"></span>
            </label>
            <label class="container-radio label-sem-margem">
              Não
              @Html.RadioButtonFor(a => a.AcessoSistemaAdmin, false, new { data_id = "checkPermissao" })
              <span class="checkmark"></span>
            </label>
          </div>
          @Html.ValidationMessageFor(a => a.AcessoSistemaAdmin)
        </div>
        <div class="col-lg-2">
          @Html.LabelFor(a => a.CadastraPagina, "Cadastra Páginas", new { @class = "label-sem-margem" })
          <div>
            <label class="container-radio label-sem-margem">
              Sim
              @Html.RadioButtonFor(a => a.CadastraPagina, true, new { data_id = "checkPermissao" })
              <span class="checkmark"></span>
            </label>
            <label class="container-radio label-sem-margem">
              Não
              @Html.RadioButtonFor(a => a.CadastraPagina, false, new { data_id = "checkPermissao" })
              <span class="checkmark"></span>
            </label>
          </div>
          @Html.ValidationMessageFor(a => a.CadastraPagina)
        </div>
        <div class="col-lg-2">
          @Html.LabelFor(a => a.EditaPagina, "Edita Páginas", new { @class = "label-sem-margem" })
          <div>
            <label class="container-radio label-sem-margem">
              Sim
              @Html.RadioButtonFor(a => a.EditaPagina, true, new { data_id = "checkPermissao" })
              <span class="checkmark"></span>
            </label>
            <label class="container-radio label-sem-margem">
              Não
              @Html.RadioButtonFor(a => a.EditaPagina, false, new { data_id = "checkPermissao" })
              <span class="checkmark"></span>
            </label>
          </div>
          @Html.ValidationMessageFor(a => a.EditaPagina)
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Menus de Acesso</h5>
  </div>
  <div class="ibox-content padding-bottom">
    <div class="row">
      <div class="form-group">
        <div class="col-md-12">
          @foreach (var menu in Model.ListaMenus)
          {
            if (!menu.IDMenuPai.HasValue)
            {
              <div data-id="conjuntoChecks">
                @if (menu.TextoExibicao.Equals("Dashboard"))
                {
                  <label class="container-radio font-bold label-sem-margem">
                    @menu.TextoExibicao
                    <input type="checkbox" value="@menu.IDMenu" checked="checked" disabled="disabled" data-toggle="chkMenu" data-id="checkPerfilPai" />
                    <span class="checkmark"></span>
                  </label>
                }
                else
                {
                  <label class="container-radio font-bold label-sem-margem">
                    @menu.TextoExibicao
                    <input type="checkbox" value="@menu.IDMenu" checked="@Model.ListaMenusSelecionados.Contains(menu.IDMenu)" data-toggle="chkMenu" data-id="checkPerfilPai" />
                    <span class="checkmark"></span>
                  </label>
                }
                <ul class="list-unstyled">
                  @foreach (var menuFilho in menu.MenusFilhos)
                  {
                    <li class="margem-lista">
                      <label class="container-radio label-sem-margem">
                        @menuFilho.TextoExibicao
                        <input type="checkbox" value="@menuFilho.IDMenu" checked="@Model.ListaMenusSelecionados.Contains(menu.IDMenu)" name="@menuFilho.IDMenuPai" data-toggle="chkMenu" data-id="checkPerfilFilho" />
                        <span class="checkmark"></span>
                      </label>

                      @if (menuFilho.MenusFilhos != null && menuFilho.MenusFilhos.Count > 0)
                      {
                        <ul class="list-unstyled">
                          @foreach (var subMenuFilho in menuFilho.MenusFilhos)
                          {
                            <li class="margem-lista">
                              <label class="container-radio label-sem-margem">
                                @subMenuFilho.TextoExibicao
                                <input type="checkbox" value="@subMenuFilho.IDMenu" checked="@Model.ListaMenusSelecionados.Contains(menu.IDMenu)" name="@subMenuFilho.IDMenuPai" data-toggle="chkMenu" data-id="checkPerfilSubFilho" />
                                <span class="checkmark"></span>
                              </label>
                            </li>
                          }
                        </ul>
                      }
                    </li>
                  }
                </ul>
              </div>
            }
          }
        </div>
      </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="row text-right">
      <div class="form-group">
        <div class="col-xs-12">
          <a class="btn btn-white" href="@Url.Action("Perfis", "Administracao")">Voltar</a>
          <button class="btn btn-primary" type="submit" id="btnCadastrar" data-loading-text="<i class='fa fa-circle-notch fa-spin'></i>">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>
@Html.HiddenFor(a => a.IDUsuarioPerfil)
@Html.HiddenFor(a => a.ListaMenusString)