﻿@model Open.ProjetoPadrao.Web.ViewModels.Admin.UsuarioViewModel
@{
  ViewBag.Title = "Novo Usuário";
  Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Novo Usuário</h2>
    <ol class="breadcrumb">
      <li>
        <a href="@Url.Action("Index", "Principal")">Dashboard</a>
      </li>
      <li>
        <a href="#">Administração</a>
      </li>
      <li>
        <a href="@Url.Action("Usuarios", "Administracao")">Usuários</a>
      </li>
      <li class="active">
        <strong>Novo Usuário</strong>
      </li>
    </ol>
  </div>
</div>

@using (Ajax.BeginForm("CadastrarUsuario", "Administracao",
       new AjaxOptions()
       {
         HttpMethod = "POST",
         OnBegin = "inicioCadastro",
         OnSuccess = "sucessoCadastro",
         OnFailure = "falhaCadastro",
       },
       new { id = "formUsuario", @class = "m-t", role = "form" }))
{
  @Html.AntiForgeryToken()

  <div class="wrapper wrapper-content">
    @{ Html.RenderPartial("_PartialUsuario", Model); }
  </div>
  @Html.HiddenFor(a => a.DataHoraCriacao)
}

@section scripts {
  @Scripts.Render("~/bundles/admin/js/usuario")
} 