﻿@model Open.ProjetoPadrao.Web.ViewModels.Admin.UsuarioPerfilViewModel
@{
  ViewBag.Title = "Novo Perfil";
  Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Novo Perfil</h2>
    <ol class="breadcrumb">
      <li>
        <a href="@Url.Action("Index", "Principal")">Dashboard</a>
      </li>
      <li>
        <a href="#">Administração</a>
      </li>
      <li>
        <a href="@Url.Action("Perfis", "Administracao")">Perfis</a>
      </li>
      <li class="active">
        <strong>Novo Perfil</strong>
      </li>
    </ol>
  </div>
</div>

@using (Ajax.BeginForm("CadastrarPerfil", "Administracao",
       new AjaxOptions()
       {
         HttpMethod = "POST",
         OnBegin = "inicioCadastro",
         OnSuccess = "sucessoCadastro",
         OnFailure = "falhaCadastro",
       },
       new { id = "formPerfil", @class = "m-t", role = "form" }))
{
  @Html.AntiForgeryToken()

  <div class="wrapper wrapper-content">
    @{ Html.RenderPartial("_PartialPerfil", Model); }
  </div>
  @Html.HiddenFor(a => a.DataHoraCriacao)
  @Html.HiddenFor(a => a.DataHoraAlteracao)
}

@section scripts {
  @Scripts.Render("~/bundles/admin/js/perfil")
} 