﻿@font-face {
  font-family: 'ayoshii';
  src: url('../../../../build/fonts/ayoshii.eot');
  src: url('../../../../build/fonts/ayoshii.eot#iefix') format('embedded-opentype'), url('../../../../build/fonts/ayoshii.woff2') format('woff2'), url('../../../../build/fonts/ayoshii.woff') format('woff'), url('../../../../build/fonts/ayoshii.ttf') format('truetype'), url('../../../../build/fonts/ayoshii.svg#ayoshii') format('svg');
  font-weight: normal;
  font-style: normal;
}

.field-validation-error > span {
  color: #CA3C3C;
}

body.preloader-site {
  overflow: hidden;
}

.page-heading {
  border-top: 0;
  padding: 0 10px 20px 10px;
}

.textbox-full {
  width: 100% !important;
}

.preloader-wrapper {
  height: 100%;
  width: 100%;
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
}

.preloader-wrapper .preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 120px;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ayoshii";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-united-states:before {
  content: '\e800';
}

/* '' */

.icon-mail:before {
  content: '\e801';
}

/* '' */

.icon-close:before {
  content: '\e802';
}

/* '' */

.icon-search:before {
  content: '\e803';
}

/* '' */

.icon-cancel:before {
  content: '\e804';
}

/* '' */

.icon-portal:before {
  content: '\e805';
}

/* '' */

.icon-video:before {
  content: '\e806';
}

/* '' */

.icon-area:before {
  content: '\e807';
}

/* '' */

.icon-suites:before {
  content: '\e808';
}

/* '' */

.icon-end:before {
  content: '\e809';
}

/* '' */

.icon-ok-circled:before {
  content: '\e80a';
}

/* '' */

.icon-plus-1:before {
  content: '\e80b';
}

/* '' */

.icon-ok:before {
  content: '\e80c';
}

/* '' */

.icon-chat2:before {
  content: '\e80d';
}

/* '' */

.icon-phone:before {
  content: '\e80e';
}

/* '' */

.icon-mail-1:before {
  content: '\e80f';
}

/* '' */

.icon-fale-conosco:before {
  content: '\e810';
}

/* '' */

.icon-phone-call:before {
  content: '\e811';
}

/* '' */

.icon-arquivo:before {
  content: '\e812';
}

/* '' */

.icon-pavimentos:before {
  content: '\e813';
}

/* '' */

.icon-right-open:before {
  content: '\e81b';
}

/* '' */

.icon-quadra:before {
  content: '\e823';
}

/* '' */

.icon-churrasco:before {
  content: '\e825';
}

/* '' */

.icon-mcmv:before {
  content: '\e827';
}

/* '' */

.icon-brasil:before {
  content: '\e828';
}

/* '' */

.icon-marker:before {
  content: '\e829';
}

/* '' */

.icon-360-view:before {
  content: '\e82a';
}

/* '' */

.icon-block:before {
  content: '\e82b';
}

/* '' */

.icon-hospital:before {
  content: '\e82c';
}

/* '' */

.icon-man-user:before {
  content: '\e82d';
}

/* '' */

.icon-parking:before {
  content: '\e82e';
}

/* '' */

.icon-slider:before {
  content: '\e82f';
}

/* '' */

.icon-gourmet:before {
  content: '\e830';
}

/* '' */

.icon-spin3:before {
  content: '\e832';
}

/* '' */

.icon-whatsapp-fale-conosco:before {
  content: '\e833';
}

/* '' */

.icon-trabalhe-conosco:before {
  content: '\e834';
}

/* '' */

.icon-venda-terreno:before {
  content: '\e835';
}

/* '' */

.icon-chat-bot:before {
  content: '\e836';
}

/* '' */

.icon-youtube-border:before {
  content: '\e838';
}

/* '' */

.icon-internet:before {
  content: '\e839';
}

/* '' */

.icon-e-mail:before {
  content: '\e83a';
}

/* '' */

.icon-engrenagem:before {
  content: '\e83b';
}

/* '' */

.icon-small-calendar:before {
  content: '\e83c';
}

/* '' */

.icon-torres:before {
  content: '\e83d';
}

/* '' */

.icon-mouse:before {
  content: '\e83e';
}

/* '' */

.icon-scroll:before {
  content: '\e83f';
}

/* '' */

.icon-comandos:before {
  content: '\e840';
}

/* '' */

.icon-brinquedoteca:before {
  content: '\e842';
}

/* '' */

.icon-camera-seguranca:before {
  content: '\e843';
}

/* '' */

.icon-fitness:before {
  content: '\e844';
}

/* '' */

.icon-planta-acabamento-diferenciado:before {
  content: '\e845';
}

/* '' */

.icon-playground:before {
  content: '\e846';
}

/* '' */

.icon-quadra-1:before {
  content: '\e847';
}

/* '' */

.icon-piscina:before {
  content: '\e848';
}

/* '' */

.icon-salao-festa:before {
  content: '\e849';
}

/* '' */

.icon-sauna:before {
  content: '\e84a';
}

/* '' */

.icon-varanda-gourmet:before {
  content: '\e84b';
}

/* '' */

.icon-twitter:before {
  content: '\f099';
}

/* '' */

.icon-facebook:before {
  content: '\f09a';
}

/* '' */

.icon-rss:before {
  content: '\f09e';
}

/* '' */

.icon-blank:before {
  content: '\f0c8';
}

/* '' */

.icon-gplus:before {
  content: '\f0d5';
}

/* '' */

.icon-linkedin:before {
  content: '\f0e1';
}

/* '' */

.icon-angle-double-right:before {
  content: '\f101';
}

/* '' */

.icon-angle-left:before {
  content: '\f104';
}

/* '' */

.icon-angle-right:before {
  content: '\f105';
}

/* '' */

.icon-angle-down:before {
  content: '\f107';
}

/* '' */

.icon-instagram:before {
  content: '\f16d';
}

/* '' */

.icon-foursquare:before {
  content: '\f180';
}

/* '' */

.icon-pinterest:before {
  content: '\f231';
}

/* '' */

.icon-whatsapp:before {
  content: '\f232';
}

/* '' */

.icon-hand-paper-o:before {
  content: '\f256';
}

/* '' */

.icon-hand-peace-o:before {
  content: '\f25b';
}

/* '' */


.div-lista-diferencial {
  padding: 0;
  margin-top: 25px;
}

.div-diferencial {
  display: inline-block;
  margin: 0 0 6px;
  border-radius: 10px;
  width: 132px;
}

  .div-diferencial:hover {
    background: #eee;
  }

  .div-diferencial > a {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }

    .div-diferencial > a div {
      margin-bottom: 5px;
    }

    .div-diferencial > a p {
      display: grid;
    }

  .div-diferencial i {
    display: block;
    text-align: center;
    font-size: 26px
  }

.controle-icone {
  font-size: 25px;
  margin-top: 5px;
}

.controle-texto-div {
  margin-left: 43px;
}

.controle-texto {
  font-size: 18px;
}

.box-vazio-pagina {
  border: 2px dashed #ccc;
  background: #efefef;
  width: 100%;
  min-height: 300px;
  height: 100%;
  text-align: center;
  position: relative;
}

.texto-box-vazio-pagina {
  font-weight: bold;
  font-size: 12pt;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.subtexto-box-vazio-pagina {
  font-size: 10pt;
  position: absolute;
  top: 57%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.icone-centro-pagina-vazia {
  font-size: 100pt !important;
}

.sweet-modal-overlay {
  z-index: 9999 !important;
}

.input-lg-pagina {
  margin: 15px 0 10px 0;
}

.jumbotron {
  padding: 6px 35px;
}

.bg-roxo {
  color: white;
  background-color: darkblue;
}

.m-t-100 {
  padding-top: 250px;
}

.inputLogin {
  padding: 6px 12px !important;
  font-size: 14px !important;
  font-weight: normal !important;
  line-height: 1 !important;
  color: #555 !important;
  text-align: center !important;
  background-color: #eee !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  display: table-cell;
}

.displayFlex {

  display: flex;
}

.loginBox {

  box-shadow: 0 1px 1px rgba(0, 0, 0, .05)!important;
}

.checkboxLogin {

  display: inline-grid;
}

.login-options {
  margin-bottom: 0px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: middle;
}

.wrapper-content {
  padding: 20px 10px 80px;
}

.ibox {
  margin-bottom: 0;
}


.ibox-title {
  border-width: 0;
}

.ibox-content {
  padding: 15px 15px 0 15px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: middle;
}

.wrapper-content {
  padding: 20px 10px 80px;
}

.ibox {
  margin-bottom: 0;
}

.ibox-title {
  border-width: 0;
}

.ibox-content {
  padding: 0 15px 0 15px;
}

.dropzone {
  padding: 15px 18px 10px !important;
}

  .dropzone .dz-message {
    margin: 2.9em 0 !important;
  }

.ibox-title {
  padding: 13px 15px 0;
  min-height: 40px;
}

  .ibox-title h5 {
    color: #1c84c6;
  }

.container-radio {
  position: relative;
  padding-left: 30px;
  padding-right: 7px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal !important;
}

  /* Hide the browser's default checkbox */
  .container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 23px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: #2196F3;
}

.container-radio input:disabled ~ .checkmark {
  background-color: #bbb;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-radio .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.margem-lista {
  margin-left: 20px;
}

.padding-bottom {
  padding-bottom: 20px;
}

.font-bold {
  font-weight: 600 !important;
}

.float-e-margins .btn {
  margin-bottom: 0;
}

.ibox-tools a {
  margin-bottom: 15px !important;
}

.ibox-content .row {
  margin-left: 0;
  margin-right: 0;
}

  .ibox-content .row:first-child {
    margin-top: 15px;
  }

label {
  margin-top: 15px;
}

.m-b {
  margin-bottom: 5px;
}

.label-sem-margem {
  margin-top: 0 !important;
}

.margin-top-aviso {
  margin-top: 38px;
}

.diferencial-selecionado {
  background-color: #eee;
}

.label-slider {
  margin-bottom: 18px;
  font-weight: bold;
}

.lista-icones-compartycon li {
  display: inline-block;
  padding: 15px;
  border-radius: 10px;
}

.lista-icones-compartycon li > img {
  cursor: pointer;
}

.icone-listagem-servico-compartycon {
  width: 35px;
  height: 35px;
}

.label-total-obra {
  margin-top: 10px;
  font-size: 11pt;
  font-weight: bold;
  color: #aaa;
  text-align: center;
}

.datepicker {
  z-index: 999 !important;
}

.controle-icone-div {
  width: 35px;
  float: left;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}