﻿@model IEnumerable<Open.ProjetoPadrao.Web.ViewModels.Admin.ContatosViewModel>

@if (Model != null && Model.Count() > 0)
{
  <table class="table table-striped" data-tipo="datatable">
    <thead>
      <tr>
        <th>Origem</th>
        <th width="100">Data</th>
        <th>E-mail</th>
        <th>Telefone</th>
        <th>Celular</th>
        <th class="text-center" width="50">Visualizado</th>
        <th width="50">Ações</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
      <tr>
        <td>@item.Origem</td>
        <td>@item.DataHoraInclusao.ToString("dd/MM/yy - HH:mm")</td>
        <td>@(string.IsNullOrEmpty(item.Email) ? "Não informado" : @item.Email)</td>
        <td>@(string.IsNullOrEmpty(item.Telefone) ? "Não informado" : @item.Telefone)</td>
        <td>@(string.IsNullOrEmpty(item.Celular) ? "Não informado" : @item.Celular)</td>
        <td class="text-center">@(item.Visualizado ? "Sim" : "Não")</td>
        <td>
          <a class="btn btn-sm btn-success" href="@Url.Action("Contato", "Consultas", new { id = item.IDContato })">
            <i class="fa fa-eye"></i>
          </a>
          <button data-id="btnRemoverContato" data-idcontato="@item.IDContato" class="btn btn-sm btn-danger" data-url="@Url.Action("RemoverContato", "Consultas")" data-loading-text="<i class='fa fa-circle-notch fa-spin'></i>">
            <i class="fa fa-times"></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
}
else
{
  <div class="alert alert-info text-center margin-top-aviso">
    Nenhum contato realizado até o momento
  </div>
}