﻿@model Open.ProjetoPadrao.Web.ViewModels.Admin.ContatoGeralViewModel

<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content padding-bottom">

      <!-- DATA -->
      <div class="row">
        <div class="form-group">
          <div class="col-xs-4">
            <h3><strong>Data cadastro:</strong> @Model.DataHoraInclusao.ToString("dd/MM/yyyy - HH:mm")</h3>
          </div>
        </div>
      </div>

      <!-- NOME -->
      <div class="row">
        <div class="form-group">
          <div class="col-xs-4">
            <h3><strong>Nome:</strong> @Model.Nome</h3>
          </div>
        </div>
      </div>

      <!-- EMAIL -->
      <div class="row">
        <div class="form-group">
          <div class="col-xs-4">
            <h3><strong>E-mail:</strong> @Model.Email</h3>
          </div>
        </div>
      </div>

      <!-- TELEFONE -->
      <div class="row">
        <div class="form-group">
          <div class="col-xs-4">
            <h3><strong>Telefone:</strong> @Model.Telefone</h3>
          </div>
        </div>
      </div>
      <div class="hr-line-dashed"></div>

      <!-- BOTOES -->
      <div class="row text-right">
        <div class="form-group">
          <div class="col-xs-12">
            @Html.ActionLink("Voltar", "Contatos", "Consultas", null, new { @class = "btn btn-white" })
          </div>
        </div>
      </div>
    </div>
  </div>
</div>