﻿@model List<Open.ProjetoPadrao.Web.ViewModels.Admin.NewsletterViewModel>

@if (Model != null && Model.Count > 0)
{
  <table class="table table-striped" data-tipo="datatable">
    <thead>
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th width="40" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr>
          <td>@item.Nome</td>
          <td>@item.Email</td>
          <td class="text-center">
            <button data-id="btnRemoverNewsletter" data-idnewsletter="@item.IDNewsletter" class="btn btn-sm btn-danger" data-urlremover="@Url.Action("RemoverNewsletter", "Consultas")" data-loading-text="<i class='fa fa-circle-notch fa-spin'></i>">
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
else
{
  <div class="alert alert-info text-center margin-top-aviso">
    Nenhum cadastro de newsletter feito até o momento
  </div>
}