﻿@model IEnumerable<Open.ProjetoPadrao.Web.ViewModels.Admin.ContatosViewModel>
@{
  ViewBag.Title = "Contatos";
  Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Contatos</h2>
    <ol class="breadcrumb">
      <li>
        <a href="@Url.Action("Index", "Principal")">Dashboard</a>
      </li>
      <li>
        <a href="#">Consultas</a>
      </li>
      <li class="active">
        <strong>Contatos</strong>
      </li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content">
      <div class="ibox float-e-margins">
        <div class="ibox-content padding-bottom" id="divGridContatos">
          @{ Html.RenderPartial("_PartialGridContatos", Model); }
        </div>
      </div>
    </div>
  </div>
</div>

@section scripts {
  @Scripts.Render("~/bundles/admin/js/contato")
}