﻿@using Open.ProjetoPadrao.Web.Enums
@using Open.ProjetoPadrao.Web.ViewModels.Admin

@model Open.ProjetoPadrao.Web.ViewModels.Admin.ContatoViewModel

@{
  ViewBag.Title = "Contato - " + Model.Origem;
  Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">

    <div id="divNomePagina" class="cursor-pointer">
      <h2>Contato - @Model.Origem</h2>
    </div>

    <ol class="breadcrumb">
      <li><a href="@Url.Action("Index", "Principal")">Dashboard</a></li>
      <li><a href="#">Cadastros</a></li>
      <li><a href="@Url.Action("Paginas", "Cadastros")">Páginas</a></li>
      <li class="active"><strong id="lblNomePagina">Contato - @Model.Origem</strong></li>
    </ol>
  </div>
</div>

@switch (Model.TipoContato)
{
  case TipoContato.Empreendimento:
    Html.RenderPartial("_PartialContatoEmpreendimento", (ContatoGeralViewModel)Model.ObjContato);
    break;
  case TipoContato.FaleConosco:
    Html.RenderPartial("_PartialContatoFaleConosco", (FaleConoscoViewModel)Model.ObjContato);
    break;
  case TipoContato.VendaSeuTerreno:
    Html.RenderPartial("_PartialContatoVendaSeuTerreno", (VendaSeuTerrenoViewModel)Model.ObjContato);
    break;
  case TipoContato.Parceria:
    Html.RenderPartial("_PartialContatoParceiro", (SejaParceiroViewModel)Model.ObjContato);
    break;
  case TipoContato.Contato:
    Html.RenderPartial("_PartialContato", (ContatoGeralViewModel)Model.ObjContato);
    break;
  case TipoContato.LigamosParaVoce:
    Html.RenderPartial("_PartialContatoLigamosParaVoce", (LigamosParaVoceViewModel)Model.ObjContato);
    break;
}