﻿<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>A.Yoshii Imobiliários Administrador | @ViewBag.Title</title>
  @Styles.Render("~/bundles/admin/css/geral")
  @Styles.Render("~/bundles/admin/css/plugins/datatables")
  @RenderSection("styles", required: false)
  @RenderSection("estilos", required: false)
</head>
<body>
  <div id="loader" class="preloader-wrapper" hidden="hidden">
    <div class="preloader">
      <img src="@Url.Content("~/Areas/Admin/Assets/imgs/loading.gif")">
    </div>
  </div>
  <div id="wrapper">
    @Html.Partial("_Navigation")
    <div id="page-wrapper" class="gray-bg">
      @RenderBody()
      @Html.Partial("_Footer")
    </div>
  </div>
  @Scripts.Render("~/bundles/admin/js/geral")
  @Scripts.Render("~/bundles/admin/js/plugins/datatables")
  @RenderSection("scripts", required: false)
</body>
</html>