﻿<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold">@UsuarioLogado.Nome</strong>
              </span> <span class="text-muted text-xs block">Opções <b class="caret"></b></span>
            </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li>
              @Html.ActionLink("Minha Conta", "MinhaConta", "Conta")
            </li>
            <li>
              @Html.ActionLink("Sair", "Sair", "Conta")
            </li>
          </ul>
        </div>
        <div class="logo-element">
          RLZ
        </div>
      </li>
      @{ Html.RenderAction("Menu", "Principal"); }
    </ul>
  </div>
</nav>