﻿@if (UsuarioLogado != null && UsuarioLogado.MenusPermitidos != null && UsuarioLogado.MenusPermitidos.Count() > 0)
{
  foreach (var menu in UsuarioLogado.MenusPermitidos)
  {
    if (menu.Action != null && menu.Controller != null && menu.IDMenuPai == null)
    {
      <li>
        <a href="@Url.Action(menu.Action, menu.Controller)">
          <i class="@menu.Icone"></i>
          <span class="nav-label">@menu.TextoExibicao</span>
        </a>
      </li>
    }
    else if (menu.Action == null && menu.Controller == null && menu.IDMenuPai == null)
    {
      <li>
        <a href="#">
          <i class="@menu.Icone"></i>
          <span class="nav-label">@menu.TextoExibicao</span>
          <span class="fa arrow"></span>
        </a>
        @if (menu.MenusFilhos != null && menu.MenusFilhos.Count > 0)
        {
          <ul class="nav nav-second-level collapse">
            @foreach (var menuFilho in menu.MenusFilhos)
            {
              <li>
                <a href="@Url.Action(menuFilho.Action, menuFilho.Controller)">@menuFilho.TextoExibicao</a>
              </li>
            }
          </ul>
        }
      </li>
    }
  }
}